---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Timeline from '../components/Timeline.astro';
import ProjectList from '../components/ProjectsList.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Gerardo Jimenez">
	<div class="left">
		<div class="left-left"></div>
		<div class="left-right">
			<Header />
			<Contact />
		</div>
	</div>
	<main class="right">
		<div class="main-container">
			<About />
			<Timeline />
			<ProjectList />
		</div>
	</main>
</Layout>

<style>
	.left {
		display: flex;
		padding: 2rem;

		.left-right {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			padding: 3rem 0 2rem 1rem;
			width: 100%;
		}

		.left-left {
			width: 0%;
		}
	}

	.right {
		padding: 2rem;

		.main-container {
			padding: 0 0 2rem 0;
			display: flex;
			flex-direction: column;
			gap: 5rem;
			width: 100%;
		}
	}

	@media (width >= 1000px) {
		.left {
			width: 50%;

			.left-left {
				width: 0%;
			}

			.left-right {
				width: 100%;
				padding: 0 0 2rem 0;
				justify-content: space-between;
			}
		}

		.right {
			width: 50%;
			overflow-y: auto;
		}
	}


	@media (width >= 1400px) {
		.left {
			.left-left {
				width: 30%;
			}

			.left-right {
				width: 70%;
			}
		}

		.right {
			.main-container {
				width: 70%;
			}
		}
	}
</style>

<script>
	const links = document.querySelectorAll("nav a");

	const sections = document.querySelectorAll("section") as NodeListOf<HTMLElement>;
	const rightContainer = document.querySelector(".right") as HTMLElement | null;

	if (rightContainer) {
		function setActiveNavLink() {
			let index = sections.length;
			while (--index && rightContainer!.scrollTop + 200 < sections[index].offsetTop - rightContainer!.offsetTop) {}
			links.forEach(link => link.classList.remove("active"));
			links[index].classList.add("active");
		}

		rightContainer.addEventListener("scroll", setActiveNavLink);;
		setActiveNavLink();
	}
</script>
