---
import SectionTitle from "./SectionTitle.astro"
---

<section id="about">
  <SectionTitle title="About Me" />
  <p class="text-muted">
    With three years of hands-on experience in software development, I love building <span class="accent-text second">web</span> and mobile apps that make a difference. I’m skilled in <span class="accent-text third">Python, Django, and React.js</span>, and have tackled everything from developing <span class="accent-text first">APIs</span> and full-stack features to enhancing app performance. 
  </p>
  <p class="text-muted">
    I’m a big believer in writing <span class="accent-text second">quality code</span> and <span class="accent-text third">collaborating with teams</span> to create great user experiences. When I'm not coding, I’m usually learning something new to keep my skills sharp. Thanks for stopping by – let’s create something awesome together!
  </p>
</section>

<style>
  section {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p {
    padding-inline-start: 1rem;
  }
</style>